
.players-hand {
	float: left;
  margin: 20px 0;
	width: 100%;
}
@media (min-width: 600px) {
  .players-hand {
    width: 50%;
  }
}

.trump-card {
  width: 300px;
  max-width: 100%;
  margin: auto;
  background-color: #222;
  color: white;
  padding: 20px;
  border-radius: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.trump-card img {
  padding: 20px;
  max-height: 150px;
}
.trump-card ol {
  list-style: none;
  padding: 0;
}
.trump-card a {
  cursor: pointer;
  user-select: none;
}
.trump-card--cheat a {
  color: grey;
  cursor: default;
}
